.section-header {
  text-align: center;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}
.section-header .text--description {
  font-size: 1rem;
  margin-top: 20px;
  line-height: 1.7rem;
}
.section-header span:not(:nth-of-type(1)) {
  display: none;
}

@media (min-width: 640px) {
  .section-header {
    max-width: none;
    width: 60%;
  }
  .section-header .text--subheading {
    font-size: 1.8rem;
  }
  .section-header .text--description {
    max-width: none;
  }
  .section-header .text--description span:nth-of-type(1),
  .section-header .text--description span:nth-of-type(3) {
    display: none;
  }
  .section-header .text--description span:nth-of-type(2) {
    display: inline;
  }
}
@media (min-width: 1024px) {
  .section-header {
    max-width: 615px;
  }
  .section-header .text--description span:nth-of-type(2) {
    display: none;
  }
  .section-header .text--description span:nth-of-type(3) {
    display: inline;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #fff;
}

.header {
  margin: 30px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header__inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.header__top {
  display: none;
}
.header__bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 3px;
  border-radius: 3px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact-info__icon {
  font-size: 0.9rem;
  color: white;
}
.contact-info__anchor {
  font-size: 0.9rem;
  color: white;
}
.contact-info:nth-of-type(2) {
  position: relative;
  left: 60px;
}

.socials-list {
  margin-left: auto;
  display: flex;
  gap: 30px;
}
.socials-list__anchor {
  color: white;
}

.mobile-icon {
  font-size: 1.2rem;
  position: relative;
  left: 10px;
}

.desktop-navigation {
  display: none;
}
.desktop-navigation:nth-of-type(1) {
  margin-left: 40px;
}
.desktop-navigation:nth-of-type(2) {
  margin-left: auto;
  margin-right: 40px;
}
.desktop-navigation__list {
  display: flex;
  gap: 40px;
}
.desktop-navigation__anchor {
  font-size: 1.05rem;
  font-weight: 600;
}
.desktop-navigation__anchor:hover {
  text-decoration: underline;
  color: #5956e9;
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 3px;
}

.download-btn {
  font-size: 0.6rem;
  padding: 4px;
  background-color: #5956e9;
  padding: 13px 10px;
  color: white;
  border-radius: 3px;
}
.download-btn:hover {
  background-color: #8a87e1;
  color: white;
  cursor: pointer;
}

.mobile-navigation {
  position: fixed;
  top: 100px;
  background-color: white;
  width: 200px;
  padding: 20px 20px 35px 25px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  gap: 10px;
}
.mobile-navigation__icon {
  font-size: 1.8rem;
  color: #5956e9;
  align-self: flex-end;
}
.mobile-navigation__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.mobile-navigation__anchor {
  font-weight: 600;
  color: black;
}

@media (min-width: 640px) {
  .header__top {
    display: flex;
  }
  .header__bottom {
    border-radius: 5px;
    padding: 5px;
  }
  .header-logo {
    height: 85px;
    padding: 20px 15px;
    border-radius: 5px;
  }
  .header-logo__image {
    width: 135px;
  }
  .download-btn {
    font-size: 1.05rem;
    padding: 15px 15px;
    border-radius: 5px;
  }
  .mobile-navigation {
    top: 160px;
  }
}
@media (min-width: 1024px) {
  .header__inner {
    gap: 15px;
  }
  .contact-info:nth-of-type(2) {
    left: 45px;
  }
  .mobile-icon,
  .mobile-navigation {
    display: none;
  }
  .desktop-navigation {
    display: block;
  }
}
.hero-section {
  background-image: url("/assets/images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  height: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  top: 40px;
}

.text-box {
  width: 90%;
  position: relative;
}
.text-box::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 20px;
  right: 0;
  bottom: 0;
  border: 8px solid #7572ff;
  width: 92%;
  height: 107%;
}
.text-box__inner {
  position: relative;
  z-index: 2;
  padding: 15px 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 290px;
}
.text-box__heading {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.text-box__caption {
  font-size: 0.6rem;
  line-height: 1.2rem;
}

.download-info {
  margin-top: 10px;
}
.download-info__subheading {
  font-size: 1rem;
}
.download-info__store-images {
  margin-top: 15px;
}

@media (min-width: 640px) {
  .hero-section {
    height: 850px;
  }
  .hero-section__inner {
    width: 90%;
    max-width: 600px;
    flex-direction: row;
    justify-content: space-between;
  }
  .text-box__inner {
    max-width: 330px;
  }
  .text-box__heading {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
  .text-box__caption {
    font-size: 0.8rem;
  }
  .text-box::after {
    top: -30px;
    left: 15px;
    right: 0;
    bottom: 0;
    border: 13px solid #7572ff;
    width: 90%;
    max-width: 320px;
    height: 110%;
  }
  .download-info__store-image {
    width: 120px;
  }
}
@media (min-width: 1024px) {
  .hero-section {
    height: 840px;
  }
  .hero-section__inner {
    width: 90%;
    max-width: 925px;
    top: 50px;
  }
  .text-box__inner {
    max-width: 470px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .text-box__heading {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
  .text-box__caption {
    font-size: 0.8rem;
    line-height: 1.4rem;
    max-width: 400px;
  }
  .text-box::after {
    top: -30px;
    left: 30px;
    right: 0;
    bottom: 0;
    border: 13px solid #7572ff;
    width: 90%;
    max-width: 450px;
    height: 110%;
  }
  .download-info__subheading {
    font-size: 1.3rem;
    margin-top: 20px;
  }
  .download-info__store-images {
    margin-top: 10px;
  }
  .download-info__store-image {
    width: 120px;
  }
  .hero-image {
    width: 260px;
    position: absolute;
    right: 70px;
  }
}
.about-section {
  padding: 50px 0;
}
.about-section__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.about-cards {
  width: 90%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
}

.about-card {
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 15px;
  padding: 20px 10px;
}
.about-card__icon {
  font-size: 1.1rem;
  color: #5956e9;
}
.about-card__main-point {
  font-size: 1.05rem;
  margin-bottom: 2px;
  font-weight: 700;
}
.about-card__description {
  font-size: 0.85rem;
  line-height: 1.2rem;
}
.about-card__description span:not(:nth-of-type(1)) {
  display: none;
}

@media (min-width: 640px) {
  .about-section {
    padding: 100px 0;
  }
  .about-section__main-content {
    position: relative;
    width: 90%;
    margin: 40px auto 0 auto;
    max-width: 576px;
  }
  .about-section__image {
    position: absolute;
    top: 12px;
    left: 0;
    width: 230px;
  }
  .about-cards {
    margin-left: auto;
  }
}
@media (min-width: 1024px) {
  .about-section__main-content {
    max-width: 900px;
  }
  .about-section__image {
    width: 320px;
  }
  .about-cards {
    max-width: 500px;
  }
  .about-card__description {
    margin-top: 10px;
    line-height: 1.4rem;
  }
  .about-card__description span {
    display: none;
  }
  .about-card__description span:nth-of-type(3) {
    display: inline;
  }
}
.features-section {
  padding: 120px 0;
  background-image: url("/assets/images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
}

.features-section__header {
  color: white;
}

.features-section__main-content {
  overflow-x: hidden;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.features-section__image {
  box-shadow: 40px 40px 100px 0px rgba(24, 48, 63, 0.5);
}

.feature-card {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto;
  color: white;
  max-width: 250px;
}
.feature-card__main-point {
  font-size: 1.3rem;
  line-height: 2rem;
}
.feature-card__description {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  .features-section {
    height: 1450px;
  }
  .features-section__main-content {
    margin: 0;
    position: relative;
    height: 1050px;
    justify-content: center;
    max-width: 878px;
    margin: 100px auto 0 auto;
  }
  .feature-card {
    position: absolute;
  }
  .feature-card:nth-of-type(1) {
    top: 0;
    max-width: 350px;
  }
  .feature-card:nth-of-type(2) {
    left: -10px;
    top: 280px;
  }
  .feature-card:nth-of-type(3) {
    left: -10px;
    top: 570px;
  }
  .feature-card:nth-of-type(2), .feature-card:nth-of-type(3) {
    text-align: right;
    align-items: flex-end;
  }
  .feature-card:nth-of-type(4) {
    right: -10px;
    top: 280px;
  }
  .feature-card:nth-of-type(5) {
    right: -10px;
    top: 570px;
  }
  .feature-card:nth-of-type(4), .feature-card:nth-of-type(5) {
    text-align: left;
    align-items: flex-start;
  }
  .feature-card:nth-of-type(6) {
    bottom: 0;
    max-width: 350px;
  }
}
@media (min-width: 1024px) {
  .features-section {
    height: 1600px;
  }
  .feature-section__image {
    width: 350px;
  }
  .features-section__main-content {
    max-width: 1000px;
    height: 1200px;
  }
  .feature-card {
    position: absolute;
    max-width: 300px;
  }
  .feature-card:nth-of-type(2) {
    top: 250px;
  }
  .feature-card:nth-of-type(3) {
    top: 750px;
  }
  .feature-card:nth-of-type(4) {
    top: 250px;
  }
  .feature-card:nth-of-type(5) {
    top: 750px;
  }
}

/*# sourceMappingURL=styles.css.map */
